{% extends 'demo/base.html' %}

{% load bootstrap3 %}

{% block bootstrap3_content %}
{% block content %}
<div class="container">
<div class="row">
<div class="col-xs-6">
  <h2><img class="img-responsive" src="/static/img/findsth.PNG" alt="찾아줘" width="200" height="100"></h2> 
  <form class="form-inline"  action="{% url 'findsth_search' %}">
    <div class="form-group">
      <img class="img-responsive" src="/static/img/{{gets.pk}}.PNG" alt="{{gets.pk}}" width="100" height="50">
    </div>
    <button type="submit" class="btn btn-lg"><span class="glyphicon glyphicon-search"></span></button>
	<a href="#" onClick="javascript:window.location.href  = '{% url 'findsth_home' %}'" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-home"></span> Home
    </a>
  </form>
</div>
</div>  

<br>
<div id="map" style="width:500px;height:400px;margin-left:0%" ></div>
</div>
 <!-- Replace the value of the key parameter with your own API key. -->
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7EIN7iALK5Grh1B-_N8mXhP1XVTJ25Ps&callback=initMap">
</script>
<script>
      var customLabel = {
        restaurant: {
          label: 'R'
        },
        bar: {
          label: 'B'
        }
      };

        function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: new google.maps.LatLng(-33.863276, 151.207977),
          zoom: 12
        });
        var infoWindow = new google.maps.InfoWindow;

          // Change this depending on the name of your PHP or XML file
          downloadUrl('https://storage.googleapis.com/mapsdevsite/json/mapmarkers2.xml', function(data) {
            var xml = data.responseXML;
            var markers = xml.documentElement.getElementsByTagName('marker');
            Array.prototype.forEach.call(markers, function(markerElem) {
              var name = markerElem.getAttribute('name');
              var address = markerElem.getAttribute('address');
              var type = markerElem.getAttribute('type');
              var point = new google.maps.LatLng(
                  parseFloat(markerElem.getAttribute('lat')),
                  parseFloat(markerElem.getAttribute('lng')));

              var infowincontent = document.createElement('div');
              var strong = document.createElement('strong');
              strong.textContent = name
              infowincontent.appendChild(strong);
              infowincontent.appendChild(document.createElement('br'));

              var text = document.createElement('text');
              text.textContent = address
              infowincontent.appendChild(text);
              var icon = customLabel[type] || {};
              var marker = new google.maps.Marker({
                map: map,
                position: point,
                label: icon.label
              });
              marker.addListener('click', function() {
                infoWindow.setContent(infowincontent);
                infoWindow.open(map, marker);
              });
            });
          });
        }



      function downloadUrl(url, callback) {
        var request = window.ActiveXObject ?
            new ActiveXObject('Microsoft.XMLHTTP') :
            new XMLHttpRequest;

        request.onreadystatechange = function() {
          if (request.readyState == 4) {
            request.onreadystatechange = doNothing;
            callback(request, request.status);
          }
        };

        request.open('GET', url, true);
        request.send(null);
      }

      function doNothing() {}
</script>

{% endblock %}
{% endblock %}
